
{% extends 'base/base-vide.html.twig' %}

{% block title %}Uel Vente de pierre précieuse{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('CSS/style.css') }}" rel="stylesheet" >
    <link href="{{ asset('CSS/style_text.css') }}" rel="stylesheet" >
{% endblock %}


{% block body %}
    {% block header %}
        <header class="header">
            {# en fonction du role(client/admin) de l'utilisateur une image lui est donnée de même pour ceux qui ne sont pas inscrit #}
            {% if not app.user %}
                <img style="width:100%"  src="{{ asset('Images/anonymous.jpg') }}" alt="anonymous">

            {% else %}
                {% for role in app.user.roles %}
                    {% if role=="ROLE_ADMIN" %}
                        <img style="width:100%"  src="{{ asset('Images/admin.jpg') }}" alt="admin">

                    {% elseif role=="ROLE_CLIENT" %}
                        <img style="width:100%" src="{{ asset('Images/user.jpg') }}" alt="admin">

                    {% endif %}
                {% endfor %}
            {% endif %}
                <nav class="nav">
                    <label class="label">UEL</label>
                    <ul>
                        {#en fonction de si on est connecté ou non, un menu s'affiche pour l'utilisateur#}
                        {% if not app.user %}

                            {{ render(controller('App\\Controller\\SiteController::routeAnonyme')) }}
                        {% else %}
                            {{ render(controller('App\\Controller\\SiteController::routeAdmin')) }}
                            {{ render(controller('App\\Controller\\SiteController::routeUtilisateur')) }}

                            <li>
                                <a href="{{ path('security_logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}

                    </ul>
                </nav>
            {% endblock %}
        </header>


        <div class="vue">

                {% block vue %}
                    <h1>Bienvenue sur notre site de vente de pierre précieuse !</h1>
                    {% if not app.user %}
                        <br>
                        <span>SESSION ANONYME</span>
                        <p>Je vois que vous n'êtes pas connecté sur notre site. N'hésitez pas à vous inscrire ou vous connecter !</p>
                    {% else %}
                    {% for role in app.user.roles %}
                        {% if role=="ROLE_ADMIN" %}
                            <br>
                            <span>SESSION ADMIN</span>
                            <p>Bonjour maitre, prenez soins de nos utilisateurs !</p>

                        {% elseif role=="ROLE_CLIENT" %}
                            <br>
                            <span>SESSION CLIENT</span>
                            <p> Salut, N'hésite pas à regarder nos produits peut être que tu auras un coup de coeur !</p>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                {% endblock %}
        </div>


        <footer style="position: absolute;bottom: 0;left: 0;right: 0;">
            {% block footer %}
                <img style="width:100%"  src="{{ asset('Images/footer.jpg') }}" alt="anonymous">
            {% endblock %}

        </footer>

{% endblock %}
